[submodule "themes/clean"]
	path = themes/clean
	url = https://github.com/BlackrockDigital/startbootstrap-clean-blog.git
[submodule "themes/robust"]
	path = themes/robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/creative"]
	path = themes/creative
	url = https://github.com/digitalcraftsman/hugo-creative-theme.git
[submodule "public"]
	path = public
	url = https://github.com/KulturOffensive/KulturOffensive.github.io.git
	branch = master
